body{
    font-family: 'Montserrat', sans-serif;
}

/* Nav section */

.nav-item {
    font-weight: bold;
}

hr{
  width: 75%;
}

.menu-bg{
  background-color: white;
}

@media (max-width: 991px) {
  .icon-display, .contact-item {
    display: none;
  }
  .social-icons{
    display: block;
  }
  .dropdown-toggle::after {
    border: 1px solid #000;
    width: 20px;
    background-color: #000;
    content: ">";
    display: inline-block;
    padding-left: 5px; /* Espacio entre el texto y la flecha */
    color: #fff; /* Color blanco */
  }
}

.social-icons{
  display: none;
}

/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
  }
  
  /* Show the dropdown menu when the parent item is hovered */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Style the dropdown menu */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  /* Style the dropdown links */
  .dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  /* Style for the active/hovered dropdown item */
  .dropdown-menu a:hover {
    background-color: #f0f0f0;
  }

  .badge{
    top: 6px;
  }
  


/* Hero section */
  section {
    overflow: hidden;
  }

  #hero{
    margin-top:6rem;
  }

  .space-between {
    margin-bottom: 20px;
  }
  .green-text{
    color: #155815;
  }

  .border-black {
    border-color: black; 
  }
  
  .text-black {
    color: black;
    background-color: #fff;
    margin-left: 20px;
  }

  .square-btn {
    border-radius: 0;
  }

  .black-bg {
    background-color: #000;
  }
  
  .gray-bg {
    background-color: #ccc;
  }

  @media (min-width: 576px) and (max-width: 1024px) {
    .col-md-3.text-center {
        padding-top: 30px;
    }
    #product-img{
      order: -1;
      margin-top: 2rem!important;
    }
}

@media (max-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
  #product-img{
    order: -1;
    margin-top: 2rem!important;
  }
}

.border-video {
  border: 1px solid black; 
  padding: 10px;
  position: relative; 
  display: inline-block; 
}


.overlay-icon {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 48px; 
  color: #f8fbff;
}

  .custom-radio1 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: black; 
    border-radius: 50%;
    border: 2px solid #7e7979; 
    outline: none;
    cursor: pointer;
}

.custom-radio2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #6e5b74;
  border-radius: 50%; 
  border: 2px solid #7e7979;
  outline: none;
  cursor: pointer;
}
.play-icon{
  color: #f8fbff; 
  font-size: 48px
}

  /* Benefits-section */
  .custom-card {
    background-color: #f0eeee;
    border: none; 
    border-radius: 0;
  }

  .card-title{
    font-weight: bolder;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .bold-text{
    font-weight: bolder;
  }

  .dark-gray-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .no-bullet {
    list-style-type: none;
  }
  

  /* Footer section */

  .image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    position: relative;
}

.image-collage img {
    width: 100%;
    height: auto;
}

.small-image {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  z-index: 1;
}

.icon-color{
  color: #fff;
}

.text-light{
  font-size: 12px;
}
